/* assets/css/main.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding-top: 50px; /* Adjusted to make sure the navbar doesn't overlap content */
}

/* Navigation Bar Enhancements */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.8em;
    color: #ff4757;
}

.navbar .nav-link {
    color: #333;
    transition: color 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-item.active .nav-link {
    color: #ff4757;
}

/* Breadcrumb Enhancements */
.breadcrumb {
    background-color: #ffffff;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #ccc;
    padding: 0 0.5rem;
}

.breadcrumb-item a {
    color: #0275d8;
    text-decoration: none;
}

.breadcrumb-item.active a {
    color: #333;
    pointer-events: none;
    cursor: default;
}

/* Container & General Layout */
.container {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5em; /* Smaller text on smaller screens */
    }
}

#cookie-notice {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9ed69;
    text-align: center;
    padding: 10px;
}

/* Styles for Pizza Ordering Form */
#pizza-order-form {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pizza {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.pizza h3 {
    color: #ff4757;
    margin-bottom: 0.5rem;
}

.pizza p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.pizza input[type='number'] {
    width: 60px;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}

.pizza button {
    background-color: #ff4757;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pizza button:hover {
    background-color: #e74c3c;
}

#pizza-order-form input[type='submit'] {
    background-color: #27ae60;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    margin-top: 1rem;
}

#pizza-order-form input[type='submit']:hover {
    background-color: #229954;
}


#pizza-of-the-day {
    margin: 20px 0;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

#pizza-of-the-day .pizza {
    margin: 10px 0;
}
